#game-container {
  height: 700px;
  width: 1200px;
  background-color: blue;
  z-index: 0;
  position: absolute;
}

.block {
  z-index: 5;
  position: absolute;
}

.player {
  position: absolute;
  background-color: red;
  z-index: 5;
  display: block;
  /* min-height: 50px;
  min-width: 30px; */
}
