#game-container {
  min-height: 700px;
  min-width: 1200px;
  background-color: blue;
  z-index: 0;
  position: absolute;
  text-align: right;
  /* display: block;
//  padding: 0px; */
}

#builder-controls {
  top: 800px;
  position: absolute;
}

.block {
  z-index: 5;
  position: absolute;
}

.player {
  position: absolute;
  background-color: mediumaquamarine;
  z-index: 5;
  display: block;
  /* min-height: 50px;
  min-width: 30px; */
}

.grid-square {
  position: absolute;
  z-index: 10;
  display: inline;
}

.score {
  color: white;
  font: Arial;
  display: inline;
}

.lives {
  color: magenta;
  font: Arial;
  display: inline;
  float: left;
}
